satisfy any;
{% for ip in ansible_all_ipv4_addresses %}
allow {{ ip }};
{% endfor %}
{% for ip in ansible_all_ipv6_addresses %}
allow {{ ip }};
{% endfor %}
allow 127.0.0.1;
deny  all;

auth_basic "Private";
auth_basic_user_file {{ htpasswd_path_file }};
