{% if ansible_os_family == 'Debian' %}
PKGMGR=DPKG
{% elif ansible_os_family == 'RedHat' %}
PKGMGR=RPM
{% endif %}
WEB_CMD=curl
APPEND_LOG=1
MIRRORS_MODE=0
UPDATE_MIRRORS=1
ALLOW_SSH_ROOT_USER=unset
#ALLOW_SSH_ROOT_USER={{ rkhunter_ssh_permit_root_login }}
{% for config_item in rkhunter_additional_config %}
{{ config_item }}
{% endfor %}