{{ document_root }}/*.log {{ document_root }}/logs/*.log {
        su {{ user_server_sites }} {{ group_user_server_sites }}
        daily
        dateext
        dateformat -%Y-%m-%d
        rotate 30
        copytruncate
        notifempty
        missingok
        compress
        sharedscripts
        }
