# Default website
server {

    listen 80;
    listen [::]:80;

    server_name {{ domain }} www.{{ domain }};
    server_name_in_redirect off;

    # logs
    access_log /var/log/nginx/{{ domain }}_access.log main;
    error_log /var/log/nginx/{{ domain }}_error.log warn;

    # custom conf
    include custom_conf.d/section_listen_http/*.conf;
    include custom_conf.d/section_listen_http_and_https/*.conf;

{% if htaccess_support | bool %}
    proxy_set_header    X-Forwarded-For    $proxy_add_x_forwarded_for;
    proxy_set_header    X-Real-IP          $remote_addr;
    proxy_set_header    Host               $host:80;
    proxy_set_header    X-Forwarded-Host   $host;
    proxy_set_header    X-Forwarded-Scheme $scheme;
    proxy_set_header    X-Forwarded-Proto  $scheme;
    proxy_set_header    X-Forwarded-Port   $server_port;
    set $is_global_cache  1;
    
    proxy_ignore_client_abort off;

    set $proxyserver	"http://127.0.0.1:8090";

    proxy_redirect ~^(http://[^:]+):\d+(/.+)$ $1$2;
    proxy_redirect ~^(https://[^:]+):\d+(/.+)$ $1$2;
{% else %}
    fastcgi_ignore_client_abort off;

    {% if php_version == php_current_default_version and user_server_sites == default_user_server_sites %}

        {% if php_enable_php_fpm_xdebug | bool %}
    set $php_sock  unix:/run/php/php{{ php_default_version_debian }}-fpm.sock-xdebug;
        {% else %}
    set $php_sock  unix:/run/php/php-fpm.sock;
        {% endif %}

    {% endif %}

    {% if php_version != php_current_default_version and user_server_sites == default_user_server_sites %}

        {% if not php_enable_php_fpm_xdebug | bool %}
    set $php_sock  unix:/run/php/php{{ php_default_version_debian }}-fpm.sock;
        {% else %}
    set $php_sock  unix:/run/php/php{{ php_default_version_debian }}-fpm.sock-xdebug;
        {% endif %}

    {% endif %}
    {% if user_server_sites != default_user_server_sites %}

        {% if not php_enable_php_fpm_xdebug | bool %}
    set $php_sock  unix:/run/php/php{{ php_version }}-{{ php_fpm_pool_user }}-fpm.sock;
        {% else %}
    set $php_sock  unix:/run/php/php{{ php_version }}-{{ php_fpm_pool_user }}-fpm.sock-xdebug;
        {% endif %}

    {% endif %}
{% endif %}

    set $docroot "{{ path_sites }}/{{ domain }}";

    index index.php;
    root "{{ path_sites }}/{{ domain }}";

    # custom options for sites; doesn't changes on update
    include bx/site_settings/{{ domain }}/*.conf;

{% if htaccess_support | bool %}
    # Include parameters common to all websites
    include bx/conf/bitrix.conf;
{% else %}
    # Include parameters common to all websites
    include bx/conf_fpm/bitrix.conf;
{% endif %}
}


server {

{% if nginx_version is version('1.25.1', '>=') %}
    listen {{ item.listen | default('443') }} ssl;
    listen [::]:443 ssl;
    http2 on;
{% else %}
    listen {{ item.listen | default('443') }} ssl http2;
    listen [::]:443 ssl http2;
{% endif %}

    server_name {{ domain }} www.{{ domain }};
    server_name_in_redirect off;

    # logs
    access_log /var/log/nginx/{{ domain }}_access.log main;
    error_log /var/log/nginx/{{ domain }}_error.log warn;

    # custom conf
    include custom_conf.d/section_listen_https/*.conf;
    include custom_conf.d/section_listen_http_and_https/*.conf;

{% if htaccess_support | bool %}
    proxy_set_header    Host                $host:443;
    proxy_set_header    HTTPS               YES;
    proxy_set_header    X-Real-IP           $remote_addr;
    proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
    proxy_set_header    X-Forwarded-Host    $host;
    proxy_set_header    X-Forwarded-Scheme  $scheme;
    proxy_set_header    X-Forwarded-Proto   https;
    set                 $is_global_cache    1;

    set $proxyserver	"http://127.0.0.1:8090";

    proxy_redirect ~^(http://[^:]+):\d+(/.+)$ $1$2;
    proxy_redirect ~^(https://[^:]+):\d+(/.+)$ $1$2;
{% else %}
    fastcgi_ignore_client_abort off;

    {% if php_version == php_current_default_version and user_server_sites == default_user_server_sites %}

        {% if php_enable_php_fpm_xdebug | bool %}
    set $php_sock  unix:/run/php/php{{ php_default_version_debian }}-fpm.sock-xdebug;
        {% else %}
    set $php_sock  unix:/run/php/php-fpm.sock;
        {% endif %}

    {% endif %}

    {% if php_version != php_current_default_version and user_server_sites == default_user_server_sites %}

        {% if not php_enable_php_fpm_xdebug | bool %}
    set $php_sock  unix:/run/php/php{{ php_default_version_debian }}-fpm.sock;
        {% else %}
    set $php_sock  unix:/run/php/php{{ php_default_version_debian }}-fpm.sock-xdebug;
        {% endif %}

    {% endif %}
    {% if user_server_sites != default_user_server_sites %}

        {% if not php_enable_php_fpm_xdebug | bool %}
    set $php_sock  unix:/run/php/php{{ php_version }}-{{ php_fpm_pool_user }}-fpm.sock;
        {% else %}
    set $php_sock  unix:/run/php/php{{ php_version }}-{{ php_fpm_pool_user }}-fpm.sock-xdebug;
        {% endif %}

    {% endif %}
{% endif %}

    set $docroot "{{ path_sites }}/{{ domain }}";

    index index.php;
    root "{{ path_sites }}/{{ domain }}";

    # custom options for sites; doesn't changes on update
    include bx/site_settings/{{ domain }}/*.conf;

{% if htaccess_support | bool %}
    # Include parameters common to all websites
    include bx/conf/bitrix.conf;
{% else %}
    # Include parameters common to all websites
    include bx/conf_fpm/bitrix.conf;
{% endif %}
}
