<?

if(!isset($argv[0]) || empty($argv[0]))
{
	die(json_encode(['error' => 'for console only']));
}

$address = "{{ domain }}";
$docroot = "{{ full_path_site }}";

define('NO_KEEP_STATISTIC', 'Y');
define('NO_AGENT_STATISTIC','Y');
define('NOT_CHECK_PERMISSIONS', true);
define('DisableEventsCheck', true);
define('NO_AGENT_CHECK', true);

$_SERVER['DOCUMENT_ROOT'] = $docroot;

if(!file_exists($_SERVER['DOCUMENT_ROOT'].'/bitrix/modules/main/include/prolog_before.php'))
{
	die(json_encode(['error' => 'Bitrix core not found']));
}
/** @noinspection PhpIncludeInspection */
require_once($_SERVER['DOCUMENT_ROOT'].'/bitrix/modules/main/include/prolog_before.php');

function getDefaultTransformerControllerUrl(): string
{
	$domain = (new \Bitrix\Main\License\UrlProvider())->getTechDomain();

	if (\Bitrix\Main\Application::getInstance()->getLicense()->isCis())
	{
		$domain = 'transformer-ru-boxes.' . $domain;
	}
	else
	{
		$domain = 'transformer-de.' . $domain;
	}

	return 'https://' . $domain . '/bitrix/tools/transformercontroller/add_queue.php';
}

function getCurrentSiteId(): string
{
	if (defined('SITE_ID') && SITE_ID !== '')
	{
		return (string)SITE_ID;
	}

	return (string)\Bitrix\Main\Application::getInstance()->getContext()->getSite();
}

function clearOptionCache(string $moduleId): void
{
	$managedCache = \Bitrix\Main\Application::getInstance()->getManagedCache();
	$managedCache->clean('b_option:' . mb_strtolower($moduleId), 'b_option');
	$managedCache->cleanDir('b_option');
}

$result = [];
$backupOptionName = 'endebx_previous_transformer_controller_url';
$savedTransformerControllerUrl = (string)\Bitrix\Main\Config\Option::get('transformercontroller', $backupOptionName, '');
$siteId = getCurrentSiteId();

if($savedTransformerControllerUrl === '')
{
	$savedTransformerControllerUrl = getDefaultTransformerControllerUrl();
}

if($savedTransformerControllerUrl !== '')
{
	\Bitrix\Main\Config\Option::set('transformer', 'transformer_controller_url', $savedTransformerControllerUrl, '');
	\Bitrix\Main\Config\Option::set('transformer', 'transformer_controller_url', $savedTransformerControllerUrl, $siteId);
}
\Bitrix\Main\Config\Option::set('transformercontroller', 'login', '');
\Bitrix\Main\Config\Option::set('transformercontroller', 'password', '');
\Bitrix\Main\Config\Option::set('transformercontroller', 'host', '');
\Bitrix\Main\Config\Option::set('transformercontroller', 'vhost', '');
\Bitrix\Main\Config\Option::set('transformercontroller', 'port', '');
\Bitrix\Main\Config\Option::set('transformercontroller', 'libreoffice_path', '');
\Bitrix\Main\Config\Option::set('transformercontroller', 'allowed_domains', '');
\Bitrix\Main\Config\Option::set('transformercontroller', $backupOptionName, '');
clearOptionCache('transformer');
clearOptionCache('transformercontroller');

$result['result'][] = 'Module transformercontroller deleted';
$result['restoredTransformerControllerUrl'] = $savedTransformerControllerUrl;

die(\Bitrix\Main\Web\Json::encode($result));
