<?

if(!isset($argv[0]) || empty($argv[0]))
{
	die(json_encode(['error' => 'for console only']));
}

$address = "{{ domain }}";
$docroot = "{{ full_path_site }}";
$redis_address = "{{ domain }}";
$redis_user = "{{ bx_transformer_rabbitmq_user }}";
$redis_password = "{{ bx_transformer_rabbitmq_password }}";
$libre_path = "{{ bx_transformer_libreoffice_path }}";
$domains = '[{% for domain in bx_transformer_domains %}"{{ domain }}"{% if not loop.last %},{% endif %}{% endfor %}]';


define('NO_KEEP_STATISTIC', 'Y');
define('NO_AGENT_STATISTIC','Y');
define('NOT_CHECK_PERMISSIONS', true);
define('DisableEventsCheck', true);
define('NO_AGENT_CHECK', true);

$_SERVER['DOCUMENT_ROOT'] = $docroot;

if(!file_exists($_SERVER['DOCUMENT_ROOT'].'/bitrix/modules/main/include/prolog_before.php'))
{
	die(json_encode(['error' => 'Bitrix core not found']));
}
/** @noinspection PhpIncludeInspection */
require_once($_SERVER['DOCUMENT_ROOT'].'/bitrix/modules/main/include/prolog_before.php');

function getDefaultTransformerControllerUrl(): string
{
	$domain = (new \Bitrix\Main\License\UrlProvider())->getTechDomain();

	if (\Bitrix\Main\Application::getInstance()->getLicense()->isCis())
	{
		$domain = 'transformer-ru-boxes.' . $domain;
	}
	else
	{
		$domain = 'transformer-de.' . $domain;
	}

	return 'https://' . $domain . '/bitrix/tools/transformercontroller/add_queue.php';
}

function getCurrentSiteId(): string
{
	if (defined('SITE_ID') && SITE_ID !== '')
	{
		return (string)SITE_ID;
	}

	return (string)\Bitrix\Main\Application::getInstance()->getContext()->getSite();
}

function clearOptionCache(string $moduleId): void
{
	$managedCache = \Bitrix\Main\Application::getInstance()->getManagedCache();
	$managedCache->clean('b_option:' . mb_strtolower($moduleId), 'b_option');
	$managedCache->cleanDir('b_option');
}

$result = [];
$backupOptionName = 'endebx_previous_transformer_controller_url';
$siteId = getCurrentSiteId();
$currentTransformerControllerUrl = (string)\Bitrix\Main\Config\Option::get('transformer', 'transformer_controller_url', '', $siteId);
$savedTransformerControllerUrl = (string)\Bitrix\Main\Config\Option::get('transformercontroller', $backupOptionName, '');
$newTransformerControllerUrl = 'http://'.$address.'/bitrix/tools/transformercontroller/add_queue.php';

if($currentTransformerControllerUrl === '')
{
	$currentTransformerControllerUrl = (string)\Bitrix\Main\Config\Option::get('transformer', 'transformer_controller_url', '', '');

	if($currentTransformerControllerUrl === '')
	{
		$currentTransformerControllerUrl = getDefaultTransformerControllerUrl();
	}
}

if(!\Bitrix\Main\ModuleManager::isModuleInstalled('transformer'))
{
	$moduleClass = new CModule();
	$transformer = $moduleClass->CreateModuleObject("transformer");

	if($transformer)
	{
		$transformer->InstallDB();
		$transformer->InstallEvents();
		$transformer->InstallFiles();
		$result['result'][] = 'Module transformer is installed';
	}
	else
	{
		$result['error'] = 'Could not install module transformer';
		return \Bitrix\Main\Web\Json::encode($result);
	}
}
else
{
	$result['result'][] = 'Module transformer was installed before';
}

\Bitrix\Main\Config\Option::set('transformer', 'transformer_controller_url', $newTransformerControllerUrl, '');
\Bitrix\Main\Config\Option::set('transformer', 'transformer_controller_url', $newTransformerControllerUrl, $siteId);

if(!\Bitrix\Main\ModuleManager::isModuleInstalled('transformercontroller'))
{
	$moduleClass = new CModule();
	$transformercontroller = $moduleClass->CreateModuleObject("transformercontroller");

	if($transformercontroller)
	{
		$transformercontroller->InstallDB();
		$transformercontroller->InstallEvents();
		$transformercontroller->InstallFiles();

		$result['result'][] = 'Module transformercontroller installed';
	}
	else
	{
		$result['error'] = 'Could not install module transformercontroller';
		return \Bitrix\Main\Web\Json::encode($result);
	}
}
else
{
	$result['result'][] = 'Module transformercontroller was installed before';
}

if($currentTransformerControllerUrl !== '' && $currentTransformerControllerUrl !== $newTransformerControllerUrl)
{
	\Bitrix\Main\Config\Option::set('transformercontroller', $backupOptionName, $currentTransformerControllerUrl);
}

$savedTransformerControllerUrl = (string)\Bitrix\Main\Config\Option::get(
	'transformercontroller',
	$backupOptionName,
	''
);

\Bitrix\Main\Config\Option::set('transformercontroller', 'login', $redis_user);
\Bitrix\Main\Config\Option::set('transformercontroller', 'password', $redis_password);
\Bitrix\Main\Config\Option::set('transformercontroller', 'host', $address);
\Bitrix\Main\Config\Option::set('transformercontroller', 'port', 5672);
\Bitrix\Main\Config\Option::set('transformercontroller', 'vhost', '/');
\Bitrix\Main\Config\Option::set('transformercontroller', 'libreoffice_path', $libre_path);
\Bitrix\Main\Config\Option::set('transformercontroller', 'allowed_domains', $domains);
clearOptionCache('transformer');
clearOptionCache('transformercontroller');

$result['result'][] = 'Module transformercontroller configured';

$result['rabbitMqCredentials'] = [
	'login' => \Bitrix\Main\Config\Option::get('transformercontroller', 'login'),
	'password' => \Bitrix\Main\Config\Option::get('transformercontroller', 'password'),
	'host' => \Bitrix\Main\Config\Option::get('transformercontroller', 'host'),
	'port' => \Bitrix\Main\Config\Option::get('transformercontroller', 'port'),
	'vhost' => \Bitrix\Main\Config\Option::get('transformercontroller', 'vhost'),
];
$result['savedTransformerControllerUrl'] = (string)\Bitrix\Main\Config\Option::get(
	'transformercontroller',
	$backupOptionName,
	''
);

die(\Bitrix\Main\Web\Json::encode($result));
