; Set parameters required for proper Bitrix engine functioning.
; You can redefine parameters specified in this file
; by editing /etc/php.d/z_bx_custom.ini

; Configure error processing
display_errors = {{ php_display_errors }}
display_startup_errors = {{ php_display_startup_errors }}
error_reporting = {{ php_error_reporting }}


; Set some more PHP parameters
enable_dl = Off
short_open_tag = {{ php_short_open_tag }}
allow_url_fopen = {{ php_allow_url_fopen }}
output_buffering = {{ php_output_buffering }}

; Change default values of important constants
max_input_vars = {{ php_max_input_vars }}
max_file_uploads = {{ php_max_file_uploads }}
max_execution_time = {{ php_max_execution_time }}
max_input_time = {{ php_max_input_time }}
post_max_size = {{ php_post_max_size }}
upload_max_filesize = {{ php_upload_max_filesize }}
pcre.backtrack_limit = {{ php_pcre_backtrack_limit }}
pcre.recursion_limit = {{ php_pcre_recursion_limit }}
realpath_cache_size = {{ php_realpath_cache_size }}
mysql.default_socket = {{ php_mysql_default_socket }}
mysqli.default_socket = {{ php_mysqli_default_socket }}

# Security headers
mail.add_x_header = {{ php_mail_add_x_header }}
expose_php = {{ php_expose_php }}

; Utf-8 support
mbstring.internal_encoding = {{ php_mbstring_internal_encoding }}

; Configure PHP sessions
session.entropy_length = {{ php_session_entropy_length }}
session.entropy_file = {{ php_session_entropy_file }}
session.save_path = {{ php_session_save_path }}
session.save_handler = {{ php_session_save_handler }}
session.cookie_httponly = On

session.name = {{ php_session_name }}
session.cookie_lifetime = {{ php_session_cookie_lifetime }}
session.gc_probability = {{ php_session_gc_probability }}
session.gc_divisor = {{ php_session_gc_divisor }}
session.gc_maxlifetime = {{ php_session_gc_maxlifetime }}

; Set directory for temporary files
upload_tmp_dir = {{ php_upload_tmp_dir }}

sendmail_path = {{ php_sendmail_path }}
date.timezone = {{ php_date_timezone }}
memory_limit = {{ php_memory_limit }}

disable_functions = {{ php_disable_functions|join(",") }}

; Xdebug
xdebug.client_host = localhost
xdebug.trigger_value = PHPSTORM
xdebug.start_with_request = trigger
xdebug.mode = debug

