{{ ansible_managed | comment(decoration='; ') }}

[{{ item.pool_name | mandatory }}]
listen = {{ item.pool_listen | mandatory }}
listen.allowed_clients = {{ item.pool_listen_allowed_clients | default('127.0.0.1', true) }}
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

listen.owner = {{ php_fpm_listen_owner }}
listen.group = {{ php_fpm_listen_group }}

pm = {{ item.pool_pm | default('dynamic', true) }}
pm.max_children = {{ item.pool_pm_max_children | default(50, true) }}
pm.start_servers = {{ item.pool_pm_start_servers | default(5, true) }}
pm.min_spare_servers = {{ item.pool_pm_min_spare_servers | default(5, true) }}
pm.max_spare_servers = {{ item.pool_pm_max_spare_servers | default(5, true) }}
pm.max_requests = {{ item.pool_pm_max_requests | default(500, true) }}
{% if item.pool_pm_status_path|length %}
pm.status_path = {{ item.pool_pm_status_path }}
ping.path = /ping
{% endif %}
php_flag[display_errors] = {{ item.pool_php_flag_display_errors }}
php_admin_value[error_log] = {{ item.pool_php_admin_value_error_log }}
php_admin_flag[log_errors] = {{ item.pool_php_admin_flag_log_errors }}
{% if php_bitrix_env_emulate %} 
env[BITRIX_VA_VER]=9999.9.9
{% endif %}
